* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(229, 233, 237);
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    z-index: 10;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    transition: 250ms ease-in;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 20px rgba(black, 0.2);
}


.nav-scroll{
    color: rgb(2, 2, 2);
    background-color: rgb(229, 233, 237);
    
}

.nav ul{
    display: block;
    position: absolute;
    left: -100%;
    top: 80px;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 100vh;
}
.nav_list a{
    color: rgb(247, 247, 247);
    font-size: 20px;
    text-decoration: none;
}
.nav ul li{
    margin: 30px 0;
}
#click:checked ~ ul{
    left: 0;
}
.bar{
    display: block;
    height: 35px;
}

#click{
    display: none;
}

.toggle{display: inline-block;}
.toggle img{
    height: 30px;
    padding-left: 7px;
    transition: all 0.5s;
}
.toggle img:hover {
    transform: scale(1.1);
    filter: drop-shadow(.40em .40em .4em black);
}
.first_line{
    display: grid;
    margin: 20px;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}
.car_main{
    max-width: 900px;

}
.car{
    width: 100%;
    padding-top: 50%;
    background: url(image/car1.jpg) center no-repeat;
    background-size: contain;
}
.nature{
    max-width: 900px;

}
.nat{
    width: 100%;
    padding-top: 50%;
    background: url(image/nat1.jpg) center no-repeat;
    background-size: contain;
}
.fashion{
    max-width: 900px;

}
.fash{
    width: 100%;
    padding-top: 50%;
    background: url(image/fash1.jpg) center no-repeat;
    background-size: contain;
}
.animals{
    max-width: 880px;

}
.ani{
    width: 100%;
    padding-top: 50%;
    background: url(image/ani7.jpg) center no-repeat;
    background-size: contain;
}
.life_style{
    max-width: 900px;

}
.ls{
    width: 100%;
    padding-top: 50%;
    background: url(image/ls6.jpg) center no-repeat;
    background-size: contain;
}
.art_main{
    max-width: 900px;

}
.art{
    width: 100%;
    padding-top: 50%;
    background: url(image/art4.jpg) center no-repeat;
    background-size: contain;
}
.first_line h1{
    color: beige;
    padding-left: 20px;
    padding-bottom: 15px;
}
.first_line a{
    text-decoration: none;
}

.second_line{
       padding-top: 20px;
       padding-bottom: 15px;
       display: grid;
       grid-template-columns: auto auto auto auto;
       gap: 3em;
}
.second_line img{
    height: 300px;
}
.from-left{
    grid-column: 2 / 3;
    transform: translateX(-50%);
    padding-top: 100px;
}
.from-right{
    grid-column: 3 / 4;
    transform: translateX(50%);
}
.from-left,
.from-right{
    transition: transform 800ms ease-in;
}
.from-left.appear,
.from-right.appear{
    transform: translateX(0); 
}
.footer{
    display: flex;
    background-color: rgb(28, 28, 28);
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 40px;
    color: rgb(234, 237, 239);
    font-family: Arial, Helvetica, sans-serif;
    gap: 3em;
}
.icon{
    display: inline-block;
}
.icon img{
    height: 30px;
    padding-left: 7px;
    transition: all 0.5s;
}
.icon img:hover {
    transform: scale(1.1);
    filter: drop-shadow(.40em .40em .4em black);
}
.widgit{
    display: grid;
}
.logo{
    font-size: 10px;
}
.wid{
    text-decoration: none;
    color: rgb(234, 237, 239);
    padding: 7px;
    font-size: 10px;
}
.search_bar{
    width: 100%;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    align-items: center;
    display: flex;
    height: 100%;
    max-height: 80px;
    border-radius: 40px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-bottom: 10px;
}
.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: rgb(253, 253, 253);
}
::placeholder{
    color: rgb(253, 253, 253);
}
.search_bar img{
    height: 20px;
}
.search_bar button{
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(50, 50, 50);
    border: 0;
    padding: 4px;
}
