* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(229, 233, 237);
    overflow-x: hidden;
}
.main_logo{
    margin-left: 30px;
}

.nav-scroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 200px;
    color: rgb(2, 2, 2);
    background-color: rgb(229, 233, 237);
}

.main_list{
    height: 100vh;
    width: 60%;
    background-color: rgba(28, 28, 28, 0.736);
    transition: top 1s ease-in-out;
    padding: 50px;
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
}

.nav_list a{
    color: rgb(247, 247, 247);
    font-size: 30px;
    text-decoration: none;
}

.nav_list{
    list-style-type: none;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    padding: 80px 0;
}
.nav_list:last-child{
    border-bottom: none;
}
.close{
    position: absolute;
    display: block;
    top: 35px;
    right: 20px;
}
.close img{
    height: 60px;
}

.hamburger{
    display: block;
    border: 0;
}
.hamburger img{
    height: 70px;
    margin-right: 10px;
}

.toggle{
    display: inline-block;
    margin-top: 70px;
    margin-left: 20px;
}
.toggle img{
    height: 60px;
    padding-left: 7px;
    transition: all 0.5s;
}
.first_line{
    display: grid;
    margin: 20px;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
}
.car_main{
    max-height: 1000px;

}
.car{
    width: 100%;
    padding-top: 50%;
    background: url(image/car1.jpg) center no-repeat;
    background-size: contain;
}
.nature{
    max-height: 1000px;

}
.nat{
    width: 100%;
    padding-top: 50%;
    background: url(image/nat1.jpg) center no-repeat;
    background-size: contain;
}
.fashion{
    max-height: 1000px;

}
.fash{
    width: 100%;
    padding-top: 50%;
    background: url(image/fash1.jpg) center no-repeat;
    background-size: contain;
}
.animals{
    max-height: 1000px;

}
.ani{
    width: 100%;
    padding-top: 50%;
    background: url(image/ani7.jpg) center no-repeat;
    background-size: contain;
}
.life_style{
    max-height: 1000px;

}
.ls{
    width: 100%;
    padding-top: 50%;
    background: url(image/ls6.jpg) center no-repeat;
    background-size: contain;
}
.art_main{
    max-height: 1000px;
}
.art{
    width: 100%;
    padding-top: 50%;
    background: url(image/art4.jpg) center no-repeat;
    background-size: contain;
}
.first_line h1{
    color: beige;
    padding-left: 20px;
    padding-bottom: 15px;
}
.first_line a{
    text-decoration: none;
}

.second_line{
       padding-top: 20px;
       padding-bottom: 15px;
       display: grid;
       grid-template-columns: auto auto auto auto;
       gap: 3em;
}
.second_line img{
    height: 300px;
}
.from-left{
    grid-column: 2 / 3;
    transform: translateX(-50%);
    padding-top: 100px;
}
.from-right{
    grid-column: 3 / 4;
    transform: translateX(50%);
}
.from-left,
.from-right{
    transition: transform 800ms ease-in;
}
.from-left.appear,
.from-right.appear{
    transform: translateX(0); 
}
.footer{
    display: flex;
    background-color: rgb(28, 28, 28);
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 40px;
    color: rgb(234, 237, 239);
    font-family: Arial, Helvetica, sans-serif;
    gap: 3em;
}
.icon{
    display: inline-block;
}
.icon img{
    height: 30px;
    padding-left: 7px;
    transition: all 0.5s;
}
.icon img:hover {
    transform: scale(1.1);
    filter: drop-shadow(.40em .40em .4em black);
}
.widgit{
    display: grid;
}
.logo{
    font-size: 10px;
}
.wid{
    text-decoration: none;
    color: rgb(234, 237, 239);
    padding: 7px;
    font-size: 20px;
}
.search_bar{
    width: 100%;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    align-items: center;
    display: flex;
    height: 100%;
    max-height: 80px;
    border-radius: 40px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-bottom: 10px;
}
.search_bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: rgb(253, 253, 253);
}
::placeholder{
    color: rgb(253, 253, 253);
}
.search_bar img{
    height: 20px;
}
.search_bar button{
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(50, 50, 50);
    border: 0;
    padding: 4px;
}

@media (orientation: landscape) and (min-width: 740px) {
    .nav-scroll{
        height: 50px;
        background-color: rgb(28, 28, 28);
        display: flex;
        justify-content: space-between;
        min-height: 10vh;
    }
    .first_line{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }
    .toggle{  
        display: none;
    }
    .bar{
        display: none;
    }
    .main_list{
        display: flex;
        list-style: none;
        background: none;
        box-shadow: none;
        justify-content: space-around;
        flex-flow: row;
        padding: 0;
        position: relative;
    }
    .nav_list{
        border: 0;
    }
    .nav_list a{
        display: inline-block;
        color: rgb(247, 247, 247);
        font-size: 20px;
        text-decoration: none;
    }
    .second_line img{
        height: 500px;
    }
    .logo{
        font-size: 15px;
    }
    .wid{
        font-size: 18px;
    }
    .hamburger img{
        display: none;
    }
    .close{
        display: none;
    }


}



